@model Pousada.Models.Conta

@{
    ViewData["Title"] = "Conta";
}

<h1>Detalhes da Conta</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            Número do Quarto
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Reserva.Quarto.Numero)
        </dd>
        <dt class = "col-sm-3">
            Hospede
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Reserva.Hospede.Nome)
        </dd>
        <dt class = "col-sm-3">
            Período da Reserva
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Reserva.DataEntrada) a @Html.DisplayFor(model => model.Reserva.DataSaida)
        </dd>
        <dt class = "col-sm-3">
            Valor Total
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class = "col-sm-3">
            Forma de Pagamento
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FormaPagamento)
        </dd>
        <dt class = "col-sm-3">
            Status do Pagamento
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.StatusPagamento)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a type="button" class="btn btn-light" asp-action="Index">Lista de Contas</a>
</div><br><br>

<div>
    <a type="button" class="btn btn-dark" asp-controller="Reserva" asp-action="Details" asp-route-id="@Model.ReservaId">Detalhes da Reserva</a>
    
    @if (Model.ValorTotal != 0) {
        <a type="button" class="btn btn-light" asp-controller="RelatorioDiario" asp-action="Index" asp-route-id="@Model.Id">Lista de Relatórios</a>
    }
    
    @if (Model.StatusPagamento != "Aprovado") {
        <a type="button" class="btn btn-dark" asp-controller="RelatorioDiario" asp-action="Create" asp-route-id="@Model.Id">Gerar Relatório Diário</a>
        <a type="button" class="btn btn-dark" asp-action="Close" asp-route-id="@Model.Id">Fechar Conta</a>
    }
    else{
        <a type="button" class="btn btn-dark" asp-controller="RelatorioDiario" asp-action="Nota" asp-route-id="@Model.Id">Nota</a>
    }
</div>