@model IEnumerable<Pousada.Models.Conta>

@{
    ViewData["Title"] = "Conta";
}

<h1>Lista de Contas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Número do Quarto
            </th>
            <th>
                Valor Total
            </th>
            <th>
                Forma de Pagamento
            </th>
            <th>
                Status do Pagamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reserva.Quarto.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPagamento)
            </td>
            <td>
                <a type="button" class="btn btn-dark" asp-action="Details" asp-route-id="@item.ReservaId">Detalhes</a>
                <a type="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                @if (item.StatusPagamento != "Aprovado") {
                    <a type="button" class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
