@model IEnumerable<Pousada.Models.Hospede>

@{
    ViewData["Title"] = "Hospede";
}

<h1>Lista de Hospedes</h1>

<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-auto">
            <input class="form-control mb-2" type="text" name="SearchString" placeholder="Nome ou RG">
        </div>
        <div class="col-auto">
            <input class="btn btn-dark" type="submit" value="Pesquisar" /> |
            <a type="button" class="btn btn-dark" asp-action="Index">Ver Todos</a> |
            <a type="button" class="btn btn-dark" asp-action="Create">Cadastrar Hospede</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>RG</th>
            <th>Data de Nascimento</th>
            <th>Cidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    <a type="button" class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a type="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    <a type="button" class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>