@model Pousada.Models.Quarto

@{
    ViewData["Title"] = "Quarto";
}

<h1>Excluir Quarto</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tipo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            Valor da Diária
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDiaria)
        </dd>
        <dt class = "col-sm-2">
            Número
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            Descrição
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            Disponível
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponivel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirmar" class="btn btn-dark" />
        <a type="button" class="btn btn-light" asp-action="Index">Lista de Quartos</a>
    </form>
</div>