@model IEnumerable<Pousada.Models.Quarto>

@{
    ViewData["Title"] = "Quarto";
}

<h1>Lista de Quartos</h1>

<p>
    <a type="button" class="btn btn-dark" asp-action="Create">Cadastrar Quarto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Valor da Diária</th>
            <th>Nímero</th>
            <th>Descrição</th>
            <th>Disponível</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDiaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                <a type="button" class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <a type="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                <a type="button" class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
            </td>
        </tr>
}
    </tbody>
</table>