@model IEnumerable<Pousada.Models.Reserva>

@{
    ViewData["Title"] = "Reserva";
}

<h1>Lista de Reservas</h1>

<p>
    <a type="button" class="btn btn-dark" asp-action="Create">Nova Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Quarto</th>
            <th>Hóspede</th>
            <th>Data de Entrada</th>
            <th>Data de Saída</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quarto.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospede.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSaida)
            </td>
            <td>                
                <a type="button" class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <a type="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                @if (item.DataSaida.CompareTo(DateTime.Today) >= 0) {
                    <a type="button" class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>

<a type="button" class="btn btn-light" asp-controller="Conta" asp-action="Index">Lista de Contas</a>