@model Pousada.Models.RelatorioDiario

@{
    ViewData["Title"] = "Relatório";
}

<h1>Excluir Relatório Diário</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Número do Quarto
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Conta.Reserva.Quarto.Numero)
        </dd class>
        <dt class="col-sm-3">
            Período da Diária
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DataInicial) a @Html.DisplayFor(model => model.DataFinal)
        </dd>
        <dt class="col-sm-3">
            Telefonema
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Telefonema)
        </dd>
        <dt class="col-sm-3">
            Alimentação
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Alimentacao)
        </dd>
        <dt class="col-sm-3">
            Valor do Telefonema
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ValorTelefonema)
        </dd>
        <dt class="col-sm-3">
            Valor da Alimentação
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ValorAlimentacao)
        </dd>
        <dt class="col-sm-3">
            Valor Total do Dia
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirmar" class="btn btn-dark" />
        <a type="button" class="btn btn-light" asp-action="Index" asp-route-id="@Model.ContaId">Lista de Relatórios</a>
    </form>
</div>