@model Pousada.Models.RelatorioDiario

@{
    ViewData["Title"] = "Relatório";
}

<h1>Detalhes do Relatório Diário</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Número do Quarto
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Conta.Reserva.Quarto.Numero)
        </dd class>
        <dt class="col-sm-3">
            Data
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-3">
            Telefonema
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Telefonema)
        </dd>
        <dt class="col-sm-3">
            Alimentação
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Alimentacao)
        </dd>
        <dt class="col-sm-3">
            Valor do Telefonema
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ValorTelefonema)
        </dd>
        <dt class="col-sm-3">
            Valor da Alimentação
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ValorAlimentacao)
        </dd>
        <dt class="col-sm-3">
            Valor Total do Dia
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a type="button" class="btn btn-light" asp-action="Index" asp-route-id="@Model.ContaId">Lista de Relatórios</a>
</div>